:root {
--background: 1 0 0; /* oklch(1 0 0) */
--foreground: 0 0 0; /* oklch(0 0 0) */
--card: 0.961 0 0; /* oklch(0.961 0 0) */
--card-foreground: 0 0 0; /* oklch(0 0 0) */
--popover: 1 0 0; /* oklch(1 0 0) */
--popover-foreground: 0 0 0; /* oklch(0 0 0) */
--primary: 0.6 0.2 240; /* oklch(0.6 0.2 240) */
--primary-foreground: 1 0 0; /* oklch(1 0 0) */
--secondary: 0.8 0.2 160; /* oklch(0.8 0.2 160) */
--secondary-foreground: 0 0 0; /* oklch(0 0 0) */
--muted: 0.941 0 0; /* oklch(0.941 0 0) */
--muted-foreground: 0.306 0 0; /* oklch(0.306 0 0) */
--accent: 0.878 0 0; /* oklch(0.878 0 0) */
--accent-foreground: 0 0 0; /* oklch(0 0 0) */
--destructive: 0.6 0.2 0; /* oklch(0.6 0.2 0) */
--destructive-foreground: 1 0 0; /* oklch(1 0 0) */
--border: 0.698 0 0; /* oklch(0.698 0 0) */
--input: 0.698 0 0; /* oklch(0.698 0 0) */
--ring: 0.6 0.2 240; /* oklch(0.6 0.2 240) */
--chart-1: 0.8 0.2 50; /* oklch(0.8 0.2 50) */
--chart-2: 0.6 0.2 170; /* oklch(0.6 0.2 170) */
--chart-3: 0.4 0.2 170; /* oklch(0.4 0.2 170) */
--chart-4: 0.8 0.2 80; /* oklch(0.8 0.2 80) */
--chart-5: 0.8 0.2 50; /* oklch(0.8 0.2 50) */
--radius: 0.5rem;
}

.dark {
  --background: 0, 0%, 0%; /* hsl(0, 0%, 0%) */
  --foreground: 0, 0%, 100%; /* hsl(0, 0%, 100%) */
  --card: 0, 0%, 10.2%; /* hsl(0, 0%, 10.2%) */
  --card-foreground: 0, 0%, 100%; /* hsl(0, 0%, 100%) */
  --popover: 0, 0%, 10.2%; /* hsl(0, 0%, 10.2%) */
  --popover-foreground: 0, 0%, 100%; /* hsl(0, 0%, 100%) */
  --primary: 204, 100%, 49.8%; /* hsl(204, 100%, 49.8%) */
  --primary-foreground: 0, 0%, 100%; /* hsl(0, 0%, 100%) */
  --secondary: 158, 100%, 49.8%; /* hsl(158, 100%, 49.8%) */
  --secondary-foreground: 0, 0%, 100%; /* hsl(0, 0%, 100%) */
  --muted: 0, 0%, 16.5%; /* hsl(0, 0%, 16.5%) */
  --muted-foreground: 0, 0%, 68.2%; /* hsl(0, 0%, 68.2%) */
  --accent: 0, 0%, 20%; /* hsl(0, 0%, 20%) */
  --accent-foreground: 0, 0%, 100%; /* hsl(0, 0%, 100%) */
  --destructive: 0, 63.7%, 49.8%; /* hsl(0, 63.7%, 49.8%) */
  --destructive-foreground: 0, 0%, 100%; /* hsl(0, 0%, 100%) */
  --border: 0, 0%, 40%; /* hsl(0, 0%, 40%) */
  --input: 0, 0%, 40%; /* hsl(0, 0%, 40%) */
  --ring: 210, 100%, 45.9%; /* hsl(210, 100%, 45.9%) */
  --chart-1: 24, 87.2%, 66.1%; /* hsl(24, 87.2%, 66.1%) */
  --chart-2: 171, 40.3%, 41.6%; /* hsl(171, 40.3%, 41.6%) */
  --chart-3: 174, 23.1%, 22.9%; /* hsl(174, 23.1%, 22.9%) */
  --chart-4: 45, 77.3%, 64.7%; /* hsl(45, 77.3%, 64.7%) */
  --chart-5: 24, 87.2%, 66.1%; /* hsl(24, 87.2%, 66.1%) */
  --radius: 0.5rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground flex flex-col items-center;
  }
}
